[defaults]
collections_path = ./collections
inventory = inventory/hosts.yml
roles_path = roles
stdout_callback = default
result_format = yaml
retry_files_enabled = False
interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = sudo
